@import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
 body {
	 margin: 0px;
	 overflow: hidden;
	 font-family: 'Arvo', cursive;
	 font-size: 40px;
     background-color: #000;
}
 body:hover span {
	 display: none;
     
}
 span {
	 position: fixed;
	 top: 50%;
	 left: 50%;
	 color: #000;
	 margin-top: -40px;
	 margin-left: -227px;
}
 